.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  overflow-wrap: break-word;
  @media (max-width: 600px) {
    flex-direction: column;
    overflow-wrap: break-word;
  }
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.controls {
  display: flex;
  justify-content: space-around;
  margin-top: 10%;

  @media (max-width: 900px) {
    flex-direction: column;
    align-items: center;
    gap: 2vh;
  }
}

.controls div {
  background-color: #3a3f47;
  color: #ccc;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
}

label {
  display: block;
  margin-bottom: 10px;
}

select, input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background-color: #61dafb;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #21a1f1;
}

h2 {
  color: #61dafb;
}


